.colorGreen {
    background: rgba(102, 163, 21, 0.85);
}

.title {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.thinText{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 550;
}

.btn{
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}