body {
    font-family: 'Roboto', sans-serif;
}

.colorGreen {
    background: rgba(102, 163, 21, 0.8);
}

.colorRed {
    background:  	#A30D3D !important;
}

/* Text options */
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.topText {
    font-size: 24px;
    font-weight: 600;
}

.nText {
    font-weight: 600;
}

.thinText{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.helpText {
    font-weight: 300;
}

.navText {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-weight: 300;
    font-size: 18px;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}