.fondo{
    background-image: url(../img/Fondo\ register.png);
    height: 100%;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
}

.fondoReg {
    background: #F7F7F7 !important;
    box-shadow: -4px 8px 25px rgba(0, 0, 0, 0.60);
    border-radius: 10px !important;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

p {
    font-weight: 500;
    font-size: 24px;
}