.center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

.alto {
    height: 100vh;
}

/* .altoContacto {
    margin-top: 250px;
} */

h4{  
font-family: 'Spectral SC';
font-size: 50px !important;
line-height: 55px !important;
color: #000000;
display: flex;
align-items: center;
justify-content: center;
}

body{ 

    background-image: url("/static/img/fondo_landing.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.btn-light{ 
    
     border-color: black !important; 
     color: black;  
      
 } 
    
.btn-dark{   
    border-color: black !important;  
    color: white;    
}  