.center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

.alto {
    height: 100vh;
}

.fondo{ 
    background-image: url("/static/img/fondo_landing.png");
    height: 100%;
    width: 100%;
    background-size:cover !important;
    background-repeat: no-repeat;
}

.btn-light{ 
    
     border-color: black !important; 
     color: black; 
 } 
    