.fondoPerfil {
    background: rgba(196, 196, 196, 0.5);
    border-radius: 10px;
    height: 90%;
}

.fondoCita {
    background: #F8F2F2;
    border-radius: 5px;
}

.fondoDocs {
    background: rgba(196, 196, 196, 0.4);
    border-radius: 5px;
}

.tamFoto {
    min-width: 100px;
    max-height: 220px !important;
}

.nombre {
    font-weight: bold;
    text-transform: capitalize;
}

.usuario {
    font-weight: 300;
    font-size: 20px;
}
