{% load static %}
 

<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-9">
            <h6>Acerca de nosotros</h6>
            <p class="text-justify"> El sitio web de Eat-Fit es un lugar donde puede iniciar sesión para encontrar una lista de nutricionistas aprobados y capacitados para usuarios interesados mayores de 18 años de edad, póngase en contacto con un nutriólogo para asignar un plan de alimentos, ejercicios para realizar y cualquier otra información que desee.</p>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Contactanos: contacto@eatfit.com
            </p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#">
              <img src="{% static 'icons/facebook.png' %}" width="20px" height="20px"></i></a></li>
              <li><a class="twitter" href="#">
              <img src="{% static 'icons/twitter.png' %}" width="20px" height="20px"></i></a></li>
              <li><a class="whatsapp" href="#">
              <img src="{% static 'icons/whatsapp.png' %}" width="20px" height="20px"></i></a></li> 
            </ul>
          </div>
        </div>
      </div>
</footer>