{% load static %}

<nav class="navbar navbar-dark navbar-expand-sm colorGreen" style="height: 50px">
  <a class="navbar-brand navText ml-2" href=" {% url 'home' %} " >
    <img src=" {% static 'img/ef_logo.png' %} " width="35" height="35" class="d-inline-block align-center mx-1" alt="" loading="lazy">Inicio |
  </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

        {% if request.user.profile.is_nutriologist%}
          <a class="nav-link ml-0  navText" style="font-size:17px"href=" {% url 'profileNutriEdit' %} ">Perfil</a>
        {% else %}
          <a class="nav-link ml-0  navText" style="font-size:17px"href=" {% url 'profile' %} ">Perfil</a>
        {% endif %}

      </li>
      {% comment %} <li class="nav-item active">
        <a class="nav-link ml-1" href="#">Perfil 2</a>
      </li> {% endcomment %}
    </ul>  

    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item nav-icon mr-2">
        <a href=" {% url 'logout' %} ">
            <img src=" {% static 'icons/logout.png' %} "  height="17" class=" align-center" />
        </a>
      </li>
    </ul>
  </div>

</nav> 