{% extends 'base.html' %}
{% load static %}

{% block head_content %}
<title>@{{ request.user.username }} | Actualizar perfil</title>
{% endblock head_content %}

{% block container %}

<div class="container mb-5">
        <div class="row justify-content-md-center">
            <div class="col-6 p-4 fondoPerfil my-5" id="profile-box">
               <form action="{% url 'updateProfileNutri' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="media">
                        {% if user.profile.picture %}
                            <img src="{{ user.profile.picture.url }}" class="rounded-circle" height="75" />
                        {% else%}
                            <img src="{% static 'icons\default_nutri.png' %}" class="rounded-circle" height="75" />
                        {% endif %}

                        <div class="media-body">
                            <h5 class="ml-4 ">@{{ user.username }} | {{ user.get_full_name }}</h5>
                            <p class="ml-4"><input type="file" accept=".png, .jpg" name="picture"></p>
                        </div>
                    </div>
                    {% for error in form.picture.errors %}
                        <div class="alert alert-danger">
                            <b>Foto:</b> {{error}}
                        </div>
                    {% endfor %}
                    <br>

                    <div class="form-group">
                        <label class="mb-0">@Usuario</label>
                        <input
                            class="form-control {% if form.username.errors %}is-invalid{% endif %}"
                            type="text"
                            name="username"
                            required
                            minlength="4"
                            {% comment %} maxlength="15" {% endcomment %}
                            value="{{user.username}}"
                        >
                        <div class="invalid-feedback" id="validationServer1Feedback">
                            {% for error in form.username.errors %}
                                {{error}}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="mb-0">Correo</label>
                        <input
                            class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                            type="email"
                            name="email"
                            required
                            value="{{user.email}}"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                {{error}}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="col">
                            <label class="mb-0">Edad</label>
                            <input 
                                class="form-control {% if form.age.errors %}is-invalid{% endif %}" 
                                type="text" 
                                name="age" 
                                value="{{user.profile.nutriologist.age}}"
                                required/>
                            <div class="invalid-feedback">
                            {% for error in form.age.errors %}
                                {{error}}
                            {% endfor %}
                            </div>
                        </div>

                        <div class="col">
                            <label class="mb-0">Enfoque</label>
                            <input 
                                class="form-control  {% if form.work_approach.errors %}is-invalid{% endif %}" 
                                type="text" 
                                name="work_approach" 
                                value="{{user.profile.nutriologist.work_approach}}"
                                required
                            >
                            <div class="invalid-feedback">
                            {% for error in form.work_approach.errors %}
                                {{error}}
                            {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="col">
                            <label class="mb-0">Días</label>
                            <input 
                                class="form-control {% if form.attention_days.errors %}is-invalid{% endif %}" 
                                type="text" 
                                name="attention_days" 
                                value="{{user.profile.nutriologist.attention_days}}"
                                required/>
                            <div class="invalid-feedback">
                            {% for error in form.attention_days.errors %}
                                {{error}}
                            {% endfor %}
                            </div>
                        </div>

                        <div class="col">
                            <label class="mb-0">Horario</label>
                            <input 
                                class="form-control  {% if form.attention_hours.errors %}is-invalid{% endif %}" 
                                type="text" 
                                name="attention_hours" 
                                value="{{user.profile.nutriologist.attention_hours}}"
                                required
                            >
                            <div class="invalid-feedback">
                            {% for error in form.attention_hours.errors %}
                                {{error}}
                            {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="mb-0">Cedula profesional</label>
                        <input
                            class="form-control {% if form.cedula_prof_det.errors %}is-invalid{% endif %}"
                            type="text"
                            name="cedula_prof_det"
                            required
                            value="{{user.profile.nutriologist.cedula_prof_det}}"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.cedula_prof_det.errors %}
                                {{error}}
                            {% endfor %}
                        </div>
                    </div>                    

                    <div class="form-group">
                        <label class="mb-0">Biografía</label>
                        <textarea 
                            class="form-control vLargeTextField {% if form.biography.errors %}is-invalid{% endif %}" 
                            name="biography"
                            rows="5">{{user.profile.nutriologist.biography}}</textarea>
                        <div class="invalid-feedback">
                            {% for error in form.biography.errors %}
                                {{error}}
                            {% endfor %}
                        </div>
                    </div>

                    <button type="submit" class="btn colorRed btn-block mt-4">Actualizar información</button>
                </form>
            </div>
            
        </div>
</div>



{% endblock container %}